.ui-dform-container:hover {
	border: 1px dashed black;
}

form .row {
	margin: 2px;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0);
}

	form .row input {
		border: 1px solid black;
		padding: 5px;
	}

	form .row span {
		margin-right: 10px;
		padding: 5px;
		color: black;
		text-align: left;
		font-weight: bold;
	}

	form .row span:hover {
		cursor: pointer;
	}

	form .row span:focus {
		background-color: white;
		box-shadow: inset 1px 1px 4px black;
	}