form .row {insert label name
	margin: 5px;
}

	form .row input {
		border: 1px solid black;
		padding: 5px;
	}

	form .row span {
		margin-right: 10px;
		padding: 5px;
		color: black;
		border: 1px dashed gray;
		display: inline-block;
		width: 200px;
		text-align: right;
	}